# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
*.db
*.sqlite3

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# Local Uploads
uploads/
